$dark-gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;
$red: #cc0000;
$green: #00cc00;
$pink: #ffcccc;

$dark_yellow: #e2f10f;
$very_dark_yellow: darken($dark_yellow, 25%)